header{
    width: 1100px;
    height: 36px;
}
nav{
    width: 1100px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}
.leftBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 427px;
}
.rightBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 245px;
}

.menu{
    width: 347px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    a{
        font-family: 'Gilroy-Semibold', sans-serif;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #B5B5B5;
        outline: none;
        text-decoration: none;
    }
}