.invest{
    padding: 48px 265px 0 251px;
    display: flex;
    justify-content: space-between;
    min-height: 652px;
    background-image: url(../img/world.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 65px;


    &__wrapper{
        width: 470px;
    }
    &__title{
        margin-top: 48px;
        font-family: 'Inter-Bold', sans-serif;
        font-weight: 700;
        font-size: 42px;
        line-height: 50px;
        color: $second-color;
        span{
            color: $main-color;
        }

    }
    &__subtitle{
        margin-top: 32px;
        font-family: "Gilroy-SemiBold", sans-serif;
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0.5px;
        color: #8476AA;
    }
    &__button{
        border-radius: 3px;
        margin-top: 46px;
        height: 54px;
        width: 155px;
        &:hover{
            background-color: $main-color;
            color: #fff;
            box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
        }
    }
    &__image{
        // width: 414px;
        height: 403px;
    }
    &__stonks{
        width: 60px;
        height: 60px;
        position: absolute;
        top: 3349px;
        right: 495px;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #13C296;
        box-shadow: -11px 16px 25px rgba(19, 194, 150, 0.24);
        border-radius: 6px;
    }
    &__block{
        
        height: 100%;
        width: 260px;
        img{
            width: 260px;
            height: 200px;
        }
        &__descr{
            margin-top: -5px;
            position: absolute;
            z-index: 3;
            box-sizing: border-box;
            padding: 22px 30px;
            height: 214px;
            width: 260px;
            background: #FFFFFF;
            box-shadow: -8px 16px 60px rgba(82, 114, 139, 0.24);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        &__title{
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #212B36;
        }
        &__subtitle{
            margin-top: 2px;
            font-family: "Open-Sans", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 14px;
            letter-spacing: 0.5px;
            color: #637381;
        }
        &__price{
            margin-top: 22px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #13C296;

        }
        &__request{
            margin-top: 5px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 10px;
            line-height: 14px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #98A4AF;
            &::after{
                margin-top: 20px;
                content: '';
                display: block;
                width: 200px;
                height: 1px;
                background-color: #D6DBDF;
            }
        }
        &__numbers{
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
        }
        &__column{
            height: 30px;
        }
        &__mainNum{
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #212B36;
        }
        &__text{
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            letter-spacing: 0.5px;
            color: #637381;
        }
    }
    &__increase{
        width: 130px;
        height: 65px;
        position: absolute;
        top: 3492px;
        right: 150px;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #516EA9;
        opacity: 1;
        box-shadow: -8px 16px 60px rgba(82, 114, 139, 0.24);
        border-radius: 10px;
        &__title{
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
        }
        &__subtitle{
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 10px;
            line-height: 14px;
            letter-spacing: 0.5px;
            color: rgba($color: #fff, $alpha: 0.7);
            mix-blend-mode: normal;
        }
    }
}